<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />

<body>
	<%- include('../includes/navigation.ejs') %>
	<main>
		<h1>Nothing there, but we will work on it! Obviously</h1>
	</main>
	<%- include('../includes/end.ejs') %>
</body>
